page {
	background-color: #F4F4F4;
	font-family: "微软雅黑,'microsoft yahei',宋体,新宋体,sans-serif";
}

.img-wrap image{
	width: 100%;
	height: 100%;
}

.bg-white {
	background-color: #FFFFFF;
}

.border-bottom {
	border-bottom: 2rpx solid #f0f0f0;
}

.text-center {
	text-align: center;
}

.mb-1 {
	margin-bottom: 10rpx;
}

.mb-2 {
	margin-bottom: 20rpx;
}

.mb-3 {
	margin-bottom: 30rpx;
}

.p-2{
	padding: 20rpx;
}

.p-3{
	padding: 30rpx;
}

.pt-2{
	padding-top: 20rpx;
} 
.pb-2{
	padding-bottom: 20rpx;
}

.pl-2{
	padding-left: 20rpx;
}

.pb-3{
	padding-bottom: 30rpx;
}

/* 栅格系统 */
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -30rpx;
	margin-left: -30rpx;
}

.row>[class^=col-] {
	position: relative;
	width: 100%;
	padding-right: 30rpx;
	padding-left: 30rpx;
	box-sizing: border-box;
}


.col-1 {
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.col-2 {
	flex: 0 0 16.666666%;
	max-width: 16.666666%;
}

.col-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.col-5 {
	flex: 0 0 41.666666%;
	max-width: 41.666666%;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.col-8 {
	flex: 0 0 66.666666%;
	max-width: 66.666666%;
}

.col-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}

.col-11 {
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

/* 按钮 */
.btn{
	display: inline-block;
	padding: 10rpx 30rpx;
	font-size: 28rpx;
}

.btn-outline{
	background-color: unset;
	border:1px solid #dcdcdc;
	border-radius: 4rpx;
	color: #595959;
}

/* common */
.ellipsis-1{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ellipsis-2{
	overflow: hidden;
	text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; // 控制多行的行数
	-webkit-box-orient: vertical;
}

.swiper-wrap,
.swiper {
	height: 350rpx;
	overflow: hidden;
}

.img-wrap .swiper-img {
	width: 100%;
	height: 350rpx;
	background-size: cover;
	overflow: hidden;
}